<div class="container">
    <nav class="nav">
      <div class="nav-logo">
        <img
          src="/images/logo-dark.png"
          style="width: 100%; height: 100%"
          alt="negative"
        />
      </div>
      <div>
        <ul>
          <li><a class="active" href="# home">home</a></li>
          <li><a href="# about">about</a></li>
          <li><a href="#features">features</a></li>
          <li><a href="#clients">clients</a></li>
          <li><a href="#plans">plans</a></li>
          <li><a href="#contect">contect</a></li>
          <li class="btn"><a href="#try it free"> Try it free</a></li>
        </ul>
      </div>
    </nav>
  </div>


  